<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        -->
        <p>{% t global.footer.theme %} <a href="http://www.themefisher.com">Themefisher</a>. {% t global.footer.copy %}</p>
        <p>{% t global.footer.ending %}</p>
        <p><span>Photo by <a href="https://unsplash.com/@hckmstrrahul?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Rahul Chakraborty</a> on <a href="/search/photos/white-background?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></p>
      </div>
    </div>
  </div>
</footer>
